<h1>Relationship#new</h1>
new relationship for
<%= @person.name %>
<%= form_for(@relationship, url: {action: 'create'}) do |f| %>
  <div class = 'field'>
  <%= f.hidden_field :person %>
</div>
  <div class = 'field'>
    <%= @person.name %> is the
    <%= f.select(:rel_type, ['', 'Child', 'Parent', 'Spouse']) %> of
    <%= f.select(:relative, @rel_choices.map{ |r| [r.name, r.id]}, :include_blank => true) %>
</div>
<div class = 'actions'>
  <%= f.submit 'Save Relationship' %>
</div>
<% end %>
