<h1> New Family </h1>

<%= form_for(@family) do |f| %>
  <div class='field'>
    <%= f.label :family_name%>
    <%= f.text_field :family_name%>
  </div>
  <div class='field'>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class='field'>
    <%= f.label :password %>
    <%= f.password_field :password%>
  </div>
  <div class='field'>
    <%= f.label :password_comfirmation, "Confirm Password"%>
    <%= f.password_field :password_comfirmation%>
  </div>
  <div class = 'actions'>
    <%= f.submit 'New Family' %>
  </div>
<% end %>

