<h1>Person#show</h1>

<div class = 'person'>
  <%= @person.name %></br>
  email: <%= @person.email%></br>
  Birthday: <%= @person.birthday %></br>
</div>

<% @relatives.each do |r| %>
  <%= r.rel_type %> of 
  <%= r.relative.name %>
  </br>
<% end %>
